<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>GoBlog</title>
	</head>
	
	<body>
		<br><br><br>

		<a href="/blog" class="main-title">
			All Blogs
		</a>
		<div class="login-area">
			{% if user %}
				{{user.name}} | <a class="login-link" href="/blog/newpost">Post A New Blog</a> | <a class="login-link" href="/logout">Log Out</a>
			{% else %}
				<a class="login-link" href="/login">login</a>
					|
				<a class="login-link" href="/signup">signup</a>
			{% endif %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>